.content-holder {
    background-image: url('/assets/thunderbackground.png');
    width: 100vw;
    // height: 100dvh;
    color: #fff;
    font-family: Regular;
}

.logo-holder {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        figure {
            width: auto;
            height: 25px;
            margin: 0;

            img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        }
    

    p {
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0;
        color: #fff;
     }

  }

.top-holder {
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0px;

    .zeus-name {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        h1 {
        letter-spacing: 5px;
        font-size: 2.6rem;
        font-weight: 800;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        text-shadow: 2px 2px 2px rgb(122, 163, 182);
        margin-top: 3px;
        margin-bottom: 5px;
    }

        .Zeus-Z {
            width: 35px;
            height: 33px;
            filter: brightness(0) invert(1);
         }
    }

}

.countdown-holder {
    width: 100%;
    max-width: 190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    .unit-holder {
        height: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
}

button {
    width: 50%;
    max-width: 180px;
    background-color: rgb(105, 105, 201);
    padding: 5px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgb(122, 163, 182);
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    margin: 0;
    color: rgb(240, 242, 243);
}


.app-feature-holder {
    width: 90%;
    max-width: 600px;
    margin: 0px auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;

    .feature-container {
        width: 100%;
        min-height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px solid rgb(70, 70, 90);
        border-radius: 10px;
        padding: 5px;

        img {
            width: 30px;
            height: 30px;
            margin: 5px 0 10px;
            filter: invert(36%) sepia(97%) saturate(2220%) hue-rotate(200deg) brightness(95%) contrast(95%);
        }

        h6 {
            font-size: 0.9rem;
            font-weight: 600;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        p {
            margin: 0;
            text-align: center;
            margin-bottom: 5px;
        }
    }
}

.about {
    width: 90%;
    max-width: 600px;
    margin: 0px auto;
    margin-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(163, 163, 192);

    p {
        margin: 0;
    }


    .media-logo {
        width: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 5px;

        .bi {
            font-size: 1rem;
        }
    }
}



@media (min-width: 768px) {
.logo-holder {
        height: 50px;

        figure {
            height: 30px;

        }
    

    p {
        font-size: 1.6rem;
     }

  }

  .top-holder {
    padding: 5px 0 0px;

    h1 {
        font-size: 2.8rem;

        .Zeus-Z {
            width: 40px;
            height: 40px;
        }
    }
}

.countdown-holder {
    max-width: 250px;
    margin: 10px 0 20px;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 0.9rem;
}

button {
    padding: 7px;
    font-size: 0.9rem;
    margin: 30px 0 10px;
}

.app-feature-holder {
    max-width: 1000px;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
    
    .feature-container {
        width: 40%;

        img {
            width: 50px;
            height: 50px;
            margin: 7px 0 7px;
        }

        h6 {
            font-size: 1.2rem;
            margin: 7px 0 7px;
        }
    }
}

.about {
    max-width: unset;
    flex-direction: row;
    align-items: center;

    .logo-holder {

        p {
            font-size: 1.6rem;
        }
    }

    p {
            font-size: 1rem;
    }


    .media-logo {
        width: 10%;
        max-width: 70px;
        margin-top: unset;
        justify-content: space-between;


        .bi {
            font-size: 1.5rem;
        }
    }
}

}

@media (min-width: 1024px) {
.app-feature-holder {
    flex-wrap: nowrap;
    
    .feature-container {
        width: 30%;
    }
}

}
