

.scroll-btn {
    position: fixed;
    right: 10%;
    bottom: 10%;
    max-width: 40px;
    max-height: 40px;
    background-color: #fea500;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    z-index: 10;
}



.content-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}




