<div class="content-container">

  <!-- Section for headear component -->
  <app-header *ngIf="isNotPresentation" (formSubmitted)="onFormSubmit($event)"></app-header>

  <app-counter *ngIf="!isNotPresentation"></app-counter>

  <!-- For menu slide on less than 1024px screens -->
  <app-slide-menu *ngIf="isOpen"></app-slide-menu>

  <!-- Section for main content -->
  <app-main *ngIf="isNotPresentation"></app-main>

  <app-footer *ngIf="isNotPresentation"></app-footer>
  
  

  <!-- Original scroll button -->
  <button class="scroll-btn" *ngIf="showButton" (click)="scrollToTop()">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>
  
</div>
